<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="lt.asinica.lm"
      android:versionCode="7"
      android:versionName="0.4.1">
<uses-sdk
	android:targetSdkVersion="8"
	android:minSdkVersion="5"
	android:maxSdkVersion="12" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:icon="@drawable/icon"
    	android:name="lt.asinica.lm.LMApp"
    	android:label="@string/app_name"
    	android:theme="@style/DefaultTheme">
    	
    	<!-- MAIN -->
        <activity android:name=".activity.Main"
        		  android:theme="@style/DefaultTheme.NoTitleBar"
        		  android:windowSoftInputMode="stateHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		
		<activity android:name=".activity.DetailedSearchActivity"
				  android:label="@string/app_name" />
				  
		<activity android:name=".activity.TorrentList"
				  android:label="@string/app_name" />
				  
		<activity android:name=".activity.TorrentDescriptionTabs"
				  android:theme="@style/DefaultTheme.NoTitleBar" 
				  android:label="@string/app_name" />

		<activity android:name=".activity.Dummy" 
				  android:label="@string/app_name" />
				  
		<activity android:name=".activity.TorrentDescription" 
				  android:label="@string/app_name" />
				  
		<activity android:name=".activity.TorrentInfo" 
				  android:label="@string/app_name" />
				  
		<activity android:name=".activity.TorrentComments"
				  android:label="@string/app_name" />	
				  			  
		<activity android:name=".activity.Preferences"
                  android:label="@string/preferences_name" />

                
                  
        <!-- UPDATER -->
		<service android:name=".service.UpdateService"
				 android:label="@string/app_name" />
		<activity android:name=".activity.UpdaterActivity"
                  android:label="@string/updater_activity_label" />  
    </application>
</manifest>